<%= link_to post, class: "flex space-x-2 border-t-4 border-black px-2 py-4 hover:bg-yellow-100 dark:hover:bg-slate-700", id: dom_id(post) do %>
  <div class="flex-1">
    <div class="flex items-center justify-between">
      <span class="font-black lowercase"><%= post.user.name %></span>
      <%= timeago post.created_at, "text-xs" %>
    </div>
    <p><span class="font-black mr-1">&gt;</span><%= line_breaks post.body %></p>
  </div>
<% end %>

<div class="flex items-center justify-between">
  <% if post.find_like(current_user).present? %>
    <%= button_to 'Unlike', post_like_path(post, post.find_like(current_user)), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likes_path(post), method: :post %>
  <% end %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
</div>
