<%= form_with model: @post,
              class: "bg-white py-2 space-y-4 mb-5 rounded",
              data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} do |form| %>
              <div class="px-2 flex space-x-1 items-start">
                <div class="bg-indigo-400 h-10 w-10 min-w-10 rounded-full"></div>

                <%= form.rich_text_area :body, class: "border-none flex-1", placeholder: "Write something..." %>
              </div>
              <div class="border-t border-gray-100 px-2 py-2 flex">
                <%= form.submit "Post", class: "bg-black text-white py-2 px-4 rounded ml-auto" %>
              </div>

            </div>
          <% end %>

<%= turbo_stream_from "posts" %>
<%= turbo_frame_tag "posts" do %>
  <%= render @posts %>
<% end %>
